<h1><%= @flat.name %></h1>
<p><%= @flat.address %></p>
<p>description:</p>
<p><%= @flat.description %></p>
<div class="numerical-info">
  <%= @flat.number_of_guests %>
  <i class="fas fa-user"></i>
  <%= @flat.price_per_night %>
  <i class="fas fa-euro-sign"></i>
</div>

<%= link_to "Edit flat", edit_flat_path(@flat), class: "btn btn-success"  %>
<img src="https://maps.googleapHells Kitchen, New York&zoom=12&size=300x300" alt="" width="300px">
